@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

h2 {
    font-family: "Sofia", sans-serif;
  }
.body-login{
    font-family: Playfair Display;
    background-image: url('../images/bg1.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  

}  

