@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

h2 {
    font-family: "Sofia", sans-serif;
  }
body{
    font-family: Playfair Display;
    background-image: url('../images/bg1.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  

}  

@keyframes moveRightLeft {
0% {
    transform: translateX(100%) ;
}
100% {
    transform: translateX(0%) ;
}
}
  
.animate-move-right-left {
    animation: moveRightLeft 3s ease-out forwards; /* Run once, ease-out, and stop at the final position */

}

@keyframes slideUp {
    0% {
      transform: translateY(-20px); /* Start above the screen */
      opacity: 0; /* Make it invisible */
    }
    100% {
      transform: translateY(0); /* Slide to its original position */
      opacity: 1; /* Make it fully visible */
    }
  }
  
  /* Add the animation to the card */
  .animate-slide-up {
    animation: slideUp 1s ease-out forwards; /* Apply the slide-up animation */
  }